h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #539ecf;
}
canvas {
  background-color: #343a40;
  border: 10px !important;
  border-color: #343a40;
  margin: 2px;
}
.file-viewer {
  box-shadow: none !important;
  border: none !important;
  font-size: small !important;
}
.navbar-brand {
  width: 16.6666%;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 25px 0;
  float: left;
  transition: all 0.3s ease;
  background-image: url(../assets/name.svg);
  color: rgba(255, 255, 255, 0.8);
}
.nav-bar-button {
  background-color: transparent !important;
  border-color: transparent !important;
}
.nav-bar-button:hover {
  background-color: #5a6268 !important;
  border-color: #5a6268 !important;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid #4590d3;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
  .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}